//////////////////////////////////////////
// Verlag
//////////////////////////////////////////

// Verlag      300/normal  (Verlag Book)
@font-face {
    font-family: 'Verlag';
    src: url('./fonts/Verlag-Book.woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Verlag';
    src: url('./fonts/Verlag-Book.woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Verlag Book';
    src: url('./fonts/Verlag-Book.woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Verlag Book';
    src: url('./fonts/Verlag-Book.woff');
    font-weight: 400;
    font-style: normal;
  }
  
  // Verlag     bold/normal  (Verlag Bold)
  @font-face {
    font-family: 'Verlag';
    src: url('./fonts/Verlag-Bold.woff');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Verlag Bold';
    src: url('./fonts/Verlag-Bold.woff');
    font-weight: bold;
    font-style: normal;
  }
  
  //////////////////////////////////////////
  // Whitney
  //////////////////////////////////////////
  
  // Whitney     300/normal    (WhitneyBook)
  @font-face {
    font-family: 'Whitney';
    src: url('./fonts/Whitney-Book.woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Whitney';
    src: url('./fonts/Whitney-Book.woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'WhitneyBook';
    src: url('./fonts/Whitney-Book.woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'WhitneyBook';
    src: url('./fonts/Whitney-Book.woff');
    font-weight: 400;
    font-style: normal;
  }
  
  // Whitney     500/normal   (WhitneyMed)
  @font-face {
    font-family: 'Whitney';
    src: url('./fonts/Whitney-Medium.woff');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'WhitneyMed';
    src: url('./fonts/Whitney-Medium.woff');
    font-weight: 500;
    font-style: normal;
  }
  
  
  // Whitney     bold/normal   (WhitneyBold)
  @font-face {
    font-family: 'Whitney';
    src: url('./fonts/Whitney-Bold.woff');
    font-weight: bold;
    font-style: normal;
  }
  
  
  // Whitney     bold/normal   (WhitneyBold)
  @font-face {
    font-family: 'WhitneyBold';
    src: url('./fonts/Whitney-Bold.woff');
    font-weight: bold;
    font-style: normal;
  }
  
  //////////////////////////////////////////
  // Museo Sans
  //////////////////////////////////////////
  
  // Museo Sans  300/normal    (MuseoSans_300)
  @font-face {
    font-family: 'Museo Sans';
    src: url('./fonts/MuseoSans_300.woff');
    font-weight: 300;
    font-style: normal;
  }
  
  // Museo Sans  300/normal    (MuseoSans_300)
  @font-face {
    font-family: 'Museo Sans';
    src: url('./fonts/MuseoSans_300.woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MuseoSans_300';
    src: url('./fonts/MuseoSans_300.woff');
    font-weight: 300;
    font-style: normal;
  }
  
  // Museo Sans  300/normal    (MuseoSans_300)
  @font-face {
    font-family: 'MuseoSans_300';
    src: url('./fonts/MuseoSans_300.woff');
    font-weight: 400;
    font-style: normal;
  }
  
  // Museo Sans  500/normal    (MuseoSans_500)
  @font-face {
    font-family: 'Museo Sans';
    src: url('./fonts/MuseoSans_500.woff');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MuseoSans_500';
    src: url('./fonts/MuseoSans_500.woff');
    font-weight: 500;
    font-style: normal;
  }
  
  
  // Museo Sans  700/normal    (MuseoSans_700)
  @font-face {
    font-family: 'Museo Sans';
    src: url('./fonts/MuseoSans_700.woff');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MuseoSans_700';
    src: url('./fonts/MuseoSans_700.woff');
    font-weight: bold;
    font-style: normal;
  }
  
  //////////////////////////////////////////
  // PlayfairDisplay
  //////////////////////////////////////////
  @font-face {
    font-family: 'PlayfairDisplay';
    src: url('./fonts/PlayfairDisplay-Regular.woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'PlayfairDisplay';
    src: url('./fonts/PlayfairDisplay-Regular.woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'PlayfairDisplay';
    src: url('./fonts/PlayfairDisplay-Bold.woff');
    font-weight: bold;
    font-style: normal;
  }
  
  
  
  