<header class="nav-content">
    <div class="logo-content">
        <span class="icon-icon_A001"></span>
    </div>
    <div class="nav-menu">
        <ul class="menu clearfix">
            <li class="nav-menu-item"><a href="javascript:void(0)" class="item-link">Epic Sale</a></li>
            <li class="nav-menu-item"><a href="javascript:void(0)" class="item-link">Hotels</a></li>
            <li class="nav-menu-item"><a href="javascript:void(0)" class="item-link">offers</a></li>
            <li class="nav-menu-item"><a href="javascript:void(0)" class="item-link">Venus</a></li>
        </ul>
    </div>
    <div class="menu-user">
        <div class="menu-other">
            <div class="currency">
                <span class="cl-text">CNY</span>
                <span class="chervon-icon icon-icon_chervonUp"></span>
            </div>
            <div class="language">
                <span class="cl-text">EN</span>
                <span class="chervon-icon icon-icon_chervonUp"></span>
            </div>
        </div>
        <div class="nav-user">
            <div class="logged-out-wrapper" dir="itr">
                <span id="opt-login" class="icon-icon_K006"></span>
                <span class="chervon-icon icon-icon_chervonDown"></span>
            </div>
            <div class="shopping-crat-warpper">
                <a href="javascript:void(0)" id="shopping-cart" class="smart">
                    <span class="cart-icon icon-icon_A011">
                        <i class="smart-num" id="num" data-num="0"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="nva-user-btn"></div>
        <div class="nav-serach"></div>
    </div>
</header>